.home-content-container{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.home-link{
    font-size: 25px;
    font-family: "Roboto";
}